@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
   color:rgba(255, 144, 14, 1) ; 
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.01rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
/* dark02 */
.text-gray{
    color: #424242;
}
/* dark03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    /* background-color: rgb(238, 238, 238); */
    background: rgba(255, 144, 14, 0.1);
}

main{
    max-width: 1340px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.70rem;
    font-weight: 800;
}


/* header styles */


/* navbar related styles */

.navbar{
justify-content: space-between;
align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    
}

.navbar , .banner{
    max-width: 1340px;
    margin: 0 auto;
}
/* banner related */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
    padding-bottom: 20px;
}

/* team and feature related style */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-feature{
    margin-left: 130px;
    max-width: 470px;
}


#Quick-list{
       font-weight: 500;
}


/* responsive media query */
@media screen and (max-width:576px) {
    .navbar,
     .nav-link,
      .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        margin-left: 20px;
    }
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:993px) {
    .teams{
        flex-direction: column;
    }
      .our-feature{
        margin-left: 50px auto;
    }
}